body {
  font-family: Lato;
  width: 100%;
  max-width: 1200px;
  display: block;
  justify-content: center;
  align-items:center;
}

.container {
  display:block;
  justify-content: center;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  min-width: 400px;
}

.titulo {
  display:block;
  background-image: url(trem.gif);
  height:120px;
  text-align: center;
  justify-content: center;
}

h1 {
  font-size:40px;
  text-align: center;
  display:flex;
  color:#ff6347;
  text-shadow: 20px;
  stroke: black;
  align-items: center;
  padding-top: 4%;
  justify-content: center;
}

h2 {
  font-size:25px;
  text-align: center;
  display:flex;
  color:#ff6347;
  text-shadow: 20px;
  stroke: black;
  align-items: center;
  display: block;
}


p {
  color:black;
  text-align: center;
  padding: 2px;
 
}

.barra {
  width: 95%;
  max-width: 700px;
  height: 24px;
  background: whitesmoke;
  margin: 24px 0;
  border-color: grey;
  border-style:dashed;
  border-width: 1px;
  margin-right: 10px;
  align-self: center;

}


.preenchimento {
  width: 0%;
  height: 100%;
  background: #ff6347;
  background-image: url(car.png);
  transition: all 1s;
  background-position-x: right;
  background-repeat: no-repeat;
}



.resultado {
  display: flex;
  font-size: 20px;
  box-align: center;
  margin: 10px;
  padding:5%;
  background-color: whitesmoke;
  text-align: center;
}

.faixa1{
  display: none;
  transition: all 2s;
  text-align: center;
  list-style-position: inside;
}
.faixa2{
  display: none;
  transition: all 2s;
  text-align: center;
  list-style-position: inside;
}
.faixa3{
  display: none;
  transition: all 2s;
  text-align: center;
  list-style-position: inside;
}

.faixa4{
  display: none;
  transition: all 2s;
  text-align: center;
  list-style-position: inside;
}

.opcao{
  text-align: center;
  justify-content: center;
}

.ida {
  opacity: 0.7;
  transition: opacity .2s;
}

.ida:hover{
  opacity: 1;
  cursor: pointer;
}

.volta {
  opacity: 0.7;
  transition: opacity .2s;
}

.volta:hover{
  opacity: 1;
  cursor: pointer;
}

.botao {
  display:flex;
  align-items: center;
  justify-content: center;
}

button {
  display:none;
  font-family: Lato;
  align-self: center;
  background-color: #ff6347;
  color:white;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
  border-color: whitesmoke;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.resultado2 {
  display: flex;
  font-size: 20px;
  box-align: center;
  margin: 10px;
  padding:5%;
  background-color: whitesmoke;
  text-align: center;
}

.menu{
display: block;  
}

footer {
font-size: 14px;
align-items: left;


}

.break {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-self: center;
  font-size: 14px;
  padding-top: 20px;
}
